# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]

# Pytest
.pytest_cache/
